# Yelp reviews



**Description of the data:**

- **`yelp.csv`** contains the dataset. 
- Each observation (row) in this dataset is a review of a particular business by a particular user.
- The **stars** column is the number of stars (1 through 5) assigned by the reviewer to the business. (Higher stars is better.) In other words, it is the rating of the business by the person who wrote the review.
- The **text** column is the text of the review.

**Goal:** Predict the star rating of a review using **only** the review text.



Read yelp.csv into a pandas DataFrame and examine it.

In [1]:
import pandas as pd

In [2]:
path = path = 'data/yelp.csv'
yelp_df = pd.read_csv(path)

In [3]:
yelp_df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [4]:
yelp_df.shape

(10000, 10)

In [5]:
yelp_df.dtypes

business_id    object
date           object
review_id      object
stars           int64
text           object
type           object
user_id        object
cool            int64
useful          int64
funny           int64
dtype: object

In [6]:
yelp_df.columns

Index(['business_id', 'date', 'review_id', 'stars', 'text', 'type', 'user_id',
       'cool', 'useful', 'funny'],
      dtype='object')



Creating a new DataFrame that only contains the **5-star** and **1-star** reviews.

In [7]:
yelp_5_or_1_star = yelp_df.loc[(yelp_df['stars']==1) | (yelp_df['stars']==5)]

In [8]:
yelp_5_or_1_star.shape

(4086, 10)

In [9]:
yelp_5_or_1_star['stars'].value_counts()

5    3337
1     749
Name: stars, dtype: int64



Define X and y from the new DataFrame, and then split X and y into training and testing sets, using the **review text** as the only feature and the **star rating** as the response.

In [10]:
X = yelp_5_or_1_star['text']
y = yelp_5_or_1_star['stars']

In [11]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

C:\Users\Khyati\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3064,)
(1022,)
(3064,)
(1022,)



Use CountVectorizer to create **document-term matrices** from X_train and X_test.

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(stop_words='english')

In [14]:
vect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [15]:
vect.get_feature_names()

['00',
 '000',
 '00a',
 '00am',
 '00pm',
 '01',
 '02',
 '03',
 '03342',
 '04',
 '05',
 '06',
 '07',
 '09',
 '0buxoc0crqjpvkezo3bqog',
 '0l',
 '10',
 '100',
 '1000',
 '1000x',
 '1001',
 '100th',
 '101',
 '102',
 '105',
 '1070',
 '108',
 '10am',
 '10ish',
 '10min',
 '10mins',
 '10minutes',
 '10pm',
 '10th',
 '10x',
 '11',
 '110',
 '1100',
 '111',
 '111th',
 '112',
 '115th',
 '118',
 '11a',
 '11am',
 '11p',
 '11pm',
 '12',
 '120',
 '128i',
 '129',
 '12am',
 '12oz',
 '12pm',
 '12th',
 '13',
 '14',
 '140',
 '147',
 '14lbs',
 '15',
 '150',
 '1500',
 '150mm',
 '15am',
 '15mins',
 '15pm',
 '15th',
 '16',
 '160',
 '165',
 '169',
 '16th',
 '17',
 '17p',
 '18',
 '180',
 '18th',
 '19',
 '1900',
 '1913',
 '1928',
 '1929',
 '1930s',
 '1940',
 '1952',
 '1955',
 '1956',
 '1960',
 '1961',
 '1969',
 '1970',
 '1980',
 '1980s',
 '1987',
 '1990s',
 '1992',
 '1995',
 '1996',
 '1998',
 '1999',
 '19th',
 '1cent',
 '1k',
 '1p',
 '1pm',
 '1st',
 '20',
 '200',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '200lbs',
 '2010',
 '2011',
 '2012',
 '202',
 '20mbs',
 '20miles',
 '20min',
 '20pm',
 '20s',
 '20th',
 '20x',
 '21',
 '22',
 '220',
 '2240',
 '22oz',
 '23',
 '24',
 '24hrs',
 '24st',
 '24th',
 '25',
 '250',
 '25b',
 '25min',
 '25th',
 '26',
 '260',
 '2600',
 '2608',
 '2669',
 '26th',
 '27',
 '272',
 '28',
 '29',
 '29th',
 '2am',
 '2mbps',
 '2nd',
 '2pm',
 '2rd',
 '2wice',
 '2x',
 '30',
 '300',
 '3000',
 '30am',
 '30p',
 '30pm',
 '30th',
 '31',
 '311',
 '312',
 '32',
 '33',
 '33rd',
 '34',
 '34th',
 '35',
 '350ib',
 '35c',
 '35th',
 '36',
 '37',
 '370',
 '38',
 '38th',
 '39',
 '3am',
 '3d',
 '3g',
 '3k',
 '3lbs',
 '3n9u549zse8up',
 '3p',
 '3pm',
 '3rd',
 '3x',
 '40',
 '400',
 '4000',
 '40lm',
 '40min',
 '40th',
 '41',
 '411',
 '4113416766',
 '42',
 '420',
 '43',
 '44',
 '4458',
 '44th',
 '45',
 '453990',
 '45min',
 '45pm',
 '46',
 '475',
 '48',
 '480',
 '48th',
 '49',
 '490',
 '4b',
 '4hr',
 '4pm',
 '4th',
 '50',
 '500',
 '50cents',
 '50lm',
 '50s',
 '51',
 '51pm',
 '52',
 '5231',
 '53',
 '53pm',
 '54',
 '55',
 '56',
 '57',
 '59',
 '59th',
 '5k',
 '5min',
 '5p',
 '5pm',
 '5stars',
 '5th',
 '60',
 '600',
 '602',
 '61',
 '61st',
 '62010',
 '623',
 '63',
 '64',
 '64th',
 '65',
 '66',
 '67',
 '68',
 '680',
 '69',
 '6am',
 '6p',
 '6pm',
 '6th',
 '70',
 '700',
 '70s',
 '70th',
 '71',
 '71st',
 '75',
 '750',
 '755891987',
 '76',
 '79',
 '7am',
 '7pm',
 '7th',
 '80',
 '800',
 '8000hp',
 '80s',
 '81',
 '83',
 '832',
 '83rd',
 '85',
 '85154658',
 '86',
 '88',
 '89',
 '8am',
 '8pm',
 '8th',
 '8v',
 '8yo',
 '90',
 '90s',
 '91',
 '911',
 '945am',
 '95',
 '96',
 '977',
 '98',
 '99',
 '9999',
 '99cent',
 '9oz',
 '9p',
 '9pm',
 '9year',
 '9yo',
 '______',
 '_______________',
 '_c',
 '_gyib8ea4hdfylss17zc_g',
 'a1',
 'aa',
 'aaa',
 'aaaamazing',
 'aaammmazzing',
 'aaron',
 'ab',
 'abandoned',
 'abandoning',
 'abba',
 'abbreviate',
 'abbreviated',
 'abby',
 'abc',
 'abdomen',
 'abilities',
 'ability',
 'able',
 'abodoba',
 'abound',
 'abrasion',
 'abroad',
 'abrupt',
 'absent',
 'absinthe',
 'absoloutely',
 'absolut',
 'absolute',
 'absolutely',
 'absolutley',
 'absolutly',
 'abstained',
 'absurd',
 'abuelo',
 'abundance',
 'abundant',
 'abuse',
 'abused',
 'abusive',
 'ac',
 'academy',
 'acapulco',
 'accent',
 'accented',
 'accents',
 'accept',
 'acceptable',
 'accepted',
 'access',
 'accessed',
 'accessible',
 'accessories',
 'accessorize',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accolades',
 'accommodate',
 'accommodated',
 'accommodates',
 'accommodating',
 'accommodations',
 'accomodate',
 'accomodating',
 'accompanied',
 'accompanies',
 'accompaniment',
 'accompany',
 'accompanying',
 'accomplish',
 'accomplished',
 'accomplishment',
 'according',
 'accordingly',
 'account',
 'accounts',
 'accoutrement',
 'accredited',
 'accross',
 'accurate',
 'accurately',
 'accusation',
 'accustom',
 'accustomed',
 'accutemp',
 'ace',
 'ache',
 'aches',
 'achieve',
 'achievement',
 'acid',
 'acidic',
 'acknowledge',
 'acknowledged',
 'acknowledgement',
 'acknowledging',
 'ackward',
 'acne',
 'acoustic',
 'acoustics',
 'acquaintance',
 'acres',
 'acrid',
 'acrimonious',
 'acrylics',
 'act',
 'acted',
 'acting',
 'action',
 'actions',
 'activation',
 'active',
 'actively',
 'activism',
 'activities',
 'activity',
 'actor',
 'actors',
 'acts',
 'actual',
 'actually',
 'actualy',
 'actully',
 'acute',
 'acy',
 'ad',
 'adage',
 'adam',
 'adamant',
 'adams',
 'adapter',
 'add',
 'added',
 'addendum',
 'addict',
 'addicted',
 'addicting',
 'addictingly',
 'addiction',
 'addictionovercome',
 'addictive',
 'addicts',
 'adding',
 'addition',
 'additional',
 'additionally',
 'additions',
 'address',
 'addressed',
 'addressing',
 'adds',
 'ade',
 'adelman',
 'adequate',
 'adequately',
 'adios',
 'adjacent',
 'adjoining',
 'adjust',
 'adjusted',
 'adjustment',
 'adjustments',
 'administrative',
 'admire',
 'admission',
 'admit',
 'admits',
 'admitted',
 'admittedly',
 'admitting',
 'admonishment',
 'adobada',
 'adobe',
 'adobo',
 'adolescence',
 'adopt',
 'adopted',
 'adoption',
 'adoptions',
 'adorable',
 'adore',
 'adorning',
 'adovada',
 'adquate',
 'adrienne',
 'ads',
 'adult',
 'adulthood',
 'adults',
 'advance',
 'advanced',
 'advancing',
 'advantage',
 'advantages',
 'adventure',
 'adventures',
 'adventurous',
 'adverse',
 'adversity',
 'advertise',
 'advertised',
 'advertisement',
 'advertising',
 'adverts',
 'advice',
 'advise',
 'advised',
 'advising',
 'advisor',
 'advocate',
 'advocated',
 'aeg',
 'aerators',
 'aerobic',
 'aerobics',
 'aeropress',
 'aesthetically',
 'aesthetics',
 'affair',
 'affect',
 'affected',
 'affects',
 'afficianados',
 'affiliated',
 'affiliation',
 'affluent',
 'afforadable',
 'afford',
 'affordable',
 'aficionado',
 'aficionados',
 'afloat',
 'aforementioned',
 'afoul',
 'afraid',
 'africa',
 'afterall',
 'afterdark',
 'afterglow',
 'afternoon',
 'afternoons',
 'aftertaste',
 'afterthought',
 'afterward',
 'agape',
 'agave',
 'agaves',
 'age',
 'aged',
 'agency',
 'agent',
 'agents',
 'ages',
 'aggressive',
 'aging',
 'agitated',
 'ago',
 'agonizing',
 'agree',
 'agreeable',
 'agreed',
 'agreeing',
 'agreement',
 'agrees',
 'agua',
 'aguas',
 'agwa',
 'ah',
 'ahead',
 'ahem',
 'ahh',
 'ahhh',
 'ahhhh',
 'ahhhhh',
 'ahi',
 'ahold',
 'ahwatukee',
 'aid',
 'aiello',
 'aiko',
 'aim',
 'aimed',
 'aimlessly',
 'aims',
 'ain',
 'aint',
 'aioli',
 'aiptasia',
 'air',
 'airconditioned',
 'airfair',
 'airfare',
 'airline',
 'airlines',
 'airpark',
 'airplane',
 'airport',
 'airports',
 'airwarys',
 'airways',
 'airy',
 'aisha',
 'aisle',
 'aisles',
 'aj',
 'aji',
 'ajo',
 'ajos',
 'ajs',
 'ajvar',
 'aka',
 'aki',
 'aknowledging',
 'akor',
 'al',
 'ala',
 'alabama',
 'alain',
 'alameda',
 'alan',
 'alarmed',
 'alas',
 'alaskan',
 'alaus',
 'albacore',
 'albeit',
 'alber',
 'album',
 'albums',
 'alcohol',
 'alcoholic',
 'aldo',
 'ale',
 'alert',
 'alex',
 'alexandra',
 'alfalfa',
 'alfonso',
 'alfred',
 'alfredo',
 'algae',
 'ali',
 'alice',
 'alicia',
 'aliens',
 'alike',
 'alittle',
 'alive',
 'alla',
 'allayed',
 'alleged',
 'allegiant',
 'allen',
 'allende',
 'allergen',
 'allergic',
 'allergies',
 'allergy',
 'alleviated',
 'alley',
 'alligator',
 'allocating',
 'allot',
 'alloted',
 'allotted',
 'allow',
 'allowable',
 'allowance',
 'allowed',
 'allowing',
 'allows',
 'allure',
 'almond',
 'almonds',
 'aloe',
 'alofts',
 'aloha',
 'alongside',
 'alons',
 'aloo',
 'aloof',
 'alot',
 'aloud',
 'alp',
 'alright',
 'alteration',
 'alterations',
 'altercation',
 'altered',
 'altering',
 'alternately',
 'alternative',
 'alternatively',
 'alternatives',
 'altic',
 'aluminum',
 'alway',
 'ama',
 'amaaaaazing',
 'amaazing',
 'amados',
 'amalfi',
 'amanda',
 'amaretti',
 'amaretto',
 'amarillo',
 'amaro',
 'amateur',
 'amaze',
 'amazed',
 'amazement',
 'amazes',
 'amazing',
 'amazingly',
 'amazingness',
 'amazon',
 'amazzzzzzing',
 'ambassador',
 'amber',
 'ambiance',
 'ambience',
 'ambient',
 'ambrosia',
 'amc',
 'amenable',
 'amendment',
 'amenities',
 'america',
 'american',
 'americana',
 'americanized',
 'americano',
 'americanos',
 'americans',
 'ami',
 'amicable',
 'amidst',
 'amin',
 'amish',
 'ammo',
 'amomi',
 'amore',
 'amounted',
 'amounts',
 'amp',
 'amphitheatre',
 'ample',
 'ampm',
 'amtrack',
 'amuse',
 'amused',
 'amusement',
 'amusing',
 'amy',
 'anal',
 'analysis',
 'ancho',
 'anchor',
 'anchors',
 'anchovies',
 'anchovy',
 'andiamo',
 'andouille',
 'andrea',
 'andrew',
 'andy',
 'anecdotes',
 'anemic',
 'anesthetic',
 'anew',
 'angel',
 'angela',
 'angeles',
 'angelic',
 'angello',
 'angels',
 'anger',
 'anglaise',
 'angle',
 'angler',
 'angles',
 'angry',
 'angst',
 'anibal',
 'animal',
 'animals',
 'animated',
 'animatronics',
 'anise',
 'aniston',
 'ankle',
 'ankles',
 'ann',
 'anne',
 'annie',
 'annihilator',
 'anniversary',
 'announced',
 'annoy',
 'annoyance',
 'annoyed',
 'annoying',
 'annual',
 'anomaly',
 'anonymous',
 'ans',
 'ansel',
 'answer',
 'answered',
 'answering',
 'answers',
 'ant',
 'anthem',
 'anthony',
 'anti',
 'anticipate',
 'anticipated',
 'anticipating',
 'anticipation',
 'antipasti',
 'antipasto',
 'antique',
 'antiques',
 'antiquing',
 'antiseptic',
 'antithesis',
 'antler',
 'antonio',
 'antono',
 'ants',
 'anxiety',
 'anxious',
 'anxiously',
 'anybody',
 'anyday',
 'anyhoo',
 'anymore',
 'anyplace',
 'anythings',
 'anytime',
 'anyways',
 'anywho',
 'ao',
 'ap',
 'apache',
 'apart',
 'apartment',
 'apartments',
 'ape',
 'apiece',
 'apologetic',
 'apologetically',
 'apologists',
 'apologize',
 'apologized',
 'apologizes',
 'apologizing',
 'apology',
 'apostles',
 'apothecary',
 'apothic',
 'app',
 'appalachians',
 'appaled',
 'appalled',
 'appalling',
 'apparantly',
 'apparel',
 'apparent',
 'apparently',
 'appauling',
 'appeal',
 'appealed',
 'appealing',
 'appeals',
 'appear',
 'appearance',
 'appearances',
 'appeared',
 'appears',
 'appeasing',
 'appertizer',
 'appetit',
 'appetite',
 'appetito',
 'appetizaer',
 'appetizer',
 'appetizers',
 'appetizing',
 'applaud',
 'apple',
 'applebee',
 'applebees',
 'apples',
 'appletini',
 'appletinis',
 'appliances',
 'applied',
 'applies',
 'apply',
 'applying',
 'appoinmtnt',
 'appointed',
 'appointment',
 'appointments',
 'appologized',
 'appraisal',
 'appraisals',
 'appraiser',
 'appreciate',
 'appreciated',
 'appreciates',
 'appreciation',
 'appreciative',
 'apprehensive',
 'appreicate',
 'approach',
 'approachable',
 'approached',
 'approaches',
 'approaching',
 'appropriate',
 'appropriately',
 'approx',
 'approximate',
 'approximately',
 'apps',
 'appt',
 'appys',
 'apricot',
 'april',
 'apron',
 'apt',
 'aqua',
 'aquarium',
 'aquiring',
 'ar',
 'arabic',
 'arai',
 'arbol',
 'arboreal',
 'arborio',
 'arcade',
 'arcadia',
 'arcane',
 'arches',
 'architect',
 'architecture',
 'archive',
 'archway',
 'arco',
 'area',
 'areas',
 'aren',
 'arena',
 'arent',
 'argentine',
 'argue',
 'argued',
 'arguing',
 'argumentative',
 'argyle',
 'ariel',
 'arigato',
 'arise',
 'arizona',
 'arizonan',
 'arizonans',
 'arkansas',
 'arlecchino',
 'arm',
 'armando',
 'armed',
 'armour',
 'arms',
 'army',
 ...]

In [16]:
X_train_dtm = vect.transform(X_train)

In [17]:
X_train_dtm

<3064x16528 sparse matrix of type '<class 'numpy.int64'>'
	with 143743 stored elements in Compressed Sparse Row format>

In [18]:
X_test_dtm = vect.transform(X_test)



Use multinomial Naive Bayes to **predict the star rating** for the reviews in the testing set, and then **calculate the accuracy** and **print the confusion matrix**.

In [19]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [20]:
nb.fit(X_train_dtm,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [21]:
y_pred_class = nb.predict(X_test_dtm)

In [22]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.9158512720156555

In [23]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[124,  60],
       [ 26, 812]], dtype=int64)

In [26]:
labels = list(set(y_test))
labels
#labels.sort()

[1, 5]

In [27]:
df = pd.DataFrame(
    data=metrics.confusion_matrix(y_test, y_pred_class, labels=labels),
    columns=labels,
    index=labels
)
df

     1    5
1  124   60
5   26  812



Calculate the **null accuracy**, which is the classification accuracy that could be achieved by always predicting the most frequent class.

In [28]:
y_test.value_counts()

5    838
1    184
Name: stars, dtype: int64

In [29]:
(y_test.value_counts().values.tolist()[0]/sum(y_test.value_counts().values.tolist()))*100

81.99608610567515



Browse through the review text of some of the **false positives** and **false negatives**.

In [30]:
#false positives
X_test[(y_test==1) & (y_pred_class==5)]

2175    This has to be the worst restaurant in terms o...
1781    If you like the stuck up Scottsdale vibe this ...
995     Not worth the money. Food was average and the ...
3392    I found Lisa G's while driving through phoenix...
8283    Don't know where I should start. Grand opening...
2765    Went last week, and ordered a dozen variety. I...
2839    Never Again,\r\nI brought my Mountain Bike in ...
1423    I hadn't been to Fuddruckers for about 20 year...
321     My wife and I live around the corner, hadn't e...
1919                                         D-scust-ing.
2490    Lazy Q CLOSED in 2010.  New Owners cleaned up ...
6916    Brought a group to Metro for brunch, made the ...
8755    Not lesbian/gay friendly at all. I should have...
9125    La Grande Orange Grocery has a problem. It can...
7380    I keep wanting to like this place.  I want to ...
9185    For frozen yogurt quality, I give this place a...
436     this another place that i would give no stars ...
2051    Sadly with new owners comes changes on menu.  ...
89      I was really excited about this event, maybe m...
1721    This is the closest to a New York hipster styl...
842     Boy is the name a temptation.Seriously :)  I'l...
943     Don't waste your time...Arrowhead mall on the ...
5977    You want good food? You'd be better off smuggl...
8833    The owner has changed hands & this place isn't...
6584    Jimmy Johns is cheaper and better ... The Capr...
1899    Buca Di Beppo is literally, italian restaurant...
9953    "Hipster,Trendy" ????-I think NOT !!!! Very di...
2060                This place is closed.  Good riddance.
3082    Currently having a liquidation sale, but it's ...
8220    Maybe I ate at a different restaurant than the...
2430    Just because this place is called "Maria Maria...
3634    Seriously?! With grocery stores like Fresh & E...
3266    Absolutely awful... these guys have NO idea wh...
7397    This place sucks!! I moved to the valley and h...
4473    It is what you would expect from any themed pl...
5502    Angry Bro Bar !  Please go here if you wear si...
2615    Great in its day, now leaves a lot to be desir...
3413    I purchased the Enotria groupon when it was re...
287     First, I hope La Fonda management reads these ...
2999    I can't even believe I actually went to this r...
1372    No offense to everyone who gave this place 5 s...
6222    My mother always told me, if I didn't have any...
9296    My boyfriend and I tried this place last year ...
2333    Not only was the music the worst I have ever h...
7975    What are you all talking about?! This place is...
4630    I used to always go here for tires until my me...
7130    I was not impressed. The food was bad & expens...
5818    Most horrible buffet I have ever been to.\r\n\...
3704    Staff is nice, and that's it.\r\nThey use very...
8741    They served us stale rice.  Average main dishe...
3938    We were so disappointed!  We were on vacation ...
8681    As I promised myself, I'd go back again to try...
1532    Cold, under done chips. If a Mexican food rest...
113     Unless you are a regular or look like your wal...
9299    The salad plates were not chilled... As they u...
4311    Donuts are really good, if they have any when ...
7035    Totally excited to try this place out, my gran...
8000    Still a place that is unacceptable in my book-...
3755    Have been going to LGO since 2003 and have alw...
507     HELLISH HELLISH SUMMER WEATHER (March thru Oct...
Name: text, dtype: object

In [32]:
#false negatives
X_test[(y_test==5) & (y_pred_class==1)]

7148    I now consider myself an Arizonian. If you dri...
4963    This is by far my favourite department store, ...
6318    Since I have ranted recently on poor customer ...
380     This is a must try for any Mani Pedi fan. I us...
5565    I`ve had work done by this shop a few times th...
3448    I was there last week with my sisters and whil...
6050    I went to sears today to check on a layaway th...
2504    I've passed by prestige nails in walmart 100s ...
2475    This place is so great! I am a nanny and had t...
241     I was sad to come back to lai lai's and they n...
3149    I was told to see Greg after a local shop diag...
423     These guys helped me out with my rear windshie...
763     Here's the deal. I said I was done with OT, bu...
5805    One of our Lexus car keys/key fob was cracked ...
8956    I took my computer to RedSeven recently when m...
750     This store has the most pleasant employees of ...
9765    You can't give anything less than 5 stars to a...
4646    Wow, I am very impressed. The store is very bi...
9622    I always buy my tires at Walmart, but they did...
6334    I came here today for a manicure and pedicure....
1282    Loved my haircut. Walked in and waited for jus...
1266    I've never been to this location before. My hu...
402     Once again Wildflower proves why it's my favor...
3635    I love Coach.\r\nStylish and trendy without sp...
2494    What a great surprise stumbling across this ba...
7903    First, I'm sorry this review is lengthy, but i...
Name: text, dtype: object



Calculate which 10 tokens are the most predictive of **5-star reviews**, and which 10 tokens are the most predictive of **1-star reviews**.

In [33]:
X_train_tokens = vect.get_feature_names()
len(X_train_tokens)

16528

In [34]:
print(X_train_tokens[0:50])

['00', '000', '00a', '00am', '00pm', '01', '02', '03', '03342', '04', '05', '06', '07', '09', '0buxoc0crqjpvkezo3bqog', '0l', '10', '100', '1000', '1000x', '1001', '100th', '101', '102', '105', '1070', '108', '10am', '10ish', '10min', '10mins', '10minutes', '10pm', '10th', '10x', '11', '110', '1100', '111', '111th', '112', '115th', '118', '11a', '11am', '11p', '11pm', '12', '120', '128i']

In [35]:
print(X_train_tokens[-50:])

['yyyyy', 'z11', 'za', 'zabba', 'zach', 'zam', 'zanella', 'zankou', 'zappos', 'zatsiki', 'zen', 'zero', 'zest', 'zexperience', 'zha', 'zhou', 'zia', 'zihuatenejo', 'zilch', 'zin', 'zinburger', 'zinburgergeist', 'zinc', 'zinfandel', 'zing', 'zip', 'zipcar', 'zipper', 'zippers', 'zipps', 'ziti', 'zoe', 'zombi', 'zombies', 'zone', 'zones', 'zoning', 'zoo', 'zoyo', 'zucca', 'zucchini', 'zuchinni', 'zumba', 'zupa', 'zuzu', 'zwiebel', 'zzed', 'éclairs', 'école', 'ém']

In [36]:
nb.feature_count_

array([[26.,  4.,  1., ...,  0.,  0.,  0.],
       [39.,  5.,  0., ...,  1.,  1.,  1.]])

In [37]:
nb.feature_count_.shape

(2, 16528)

In [38]:
one_star_count = nb.feature_count_[0, :]
one_star_count

array([26.,  4.,  1., ...,  0.,  0.,  0.])

In [39]:
five_star_count = nb.feature_count_[1, :]
five_star_count

array([39.,  5.,  0., ...,  1.,  1.,  1.])

In [43]:
tokens = pd.DataFrame({'token':X_train_tokens, '1-star':one_star_count, '5-star':five_star_count}).set_index('token')
tokens.tail(10)

          1-star  5-star
token
zucchini     1.0    10.0
zuchinni     1.0     1.0
zumba        0.0     3.0
zupa         0.0     1.0
zuzu         0.0     3.0
zwiebel      0.0     1.0
zzed         0.0     1.0
éclairs      0.0     1.0
école        0.0     1.0
ém           0.0     1.0